#RewriteBase /
RewriteEngine on

RewriteRule ^registro registro.php
RewriteRule ^iniciar iniciar.php
RewriteRule ^contacto contacto.php
RewriteRule ^publicar publicar.php

RewriteRule ^user/perfil user/perfil.php